# generated-files
config.mak
config.h
fbffonts.c
# object-directories
.objs*
.tobjs*
.xobjs*
bin
# target-files
*.o
*.so
*.exe
*.dSYM
*_g
*_debug
*_asan
*_msan
*_ubsan
html2png
qe
tqe
tqe1
xqe
# temp-directories
copilot
doc
junk
patches
qsn
unidata
# work-directories
cur
old
nnn
new
xxx
# temp-files
.tags
f
m
t
tt
ttt
# uncommitted-files
BUGS
DONE
IDEAS
STATS
TAGS
.qerc
cflags.mk
